html {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
body {
  height: 100%;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  white-space: nowrap;
  list-style-type: none;
}

@font-face {
  font-family: 'orangina';
  src: local('orangina'), url('./fonts/orangina.otf') format('opentype');
  font-weight: bolder;
}

.help___me {
  list-style-type: none;
}
